.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.ellipsis, .media-item .item-bd .bd-tt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.media-list, .line-list--indent {
    position: relative;
}

.media-list::before, .line-list--indent::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    right: 0;
    height: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-top: 1px solid #dbdbdb;
    z-index: 1;
}

.media-list::after, .line-list--indent::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    right: 0;
    height: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-top: 1px solid #dbdbdb;
    top: auto;
    bottom: 0;
}

.line-item {
    line-height: 34px;
    padding: 5px 10px;
    position: relative;
    display: block;
    overflow: hidden;
}

.line-item:active, .line-item:hover {
    background-color: #ededed;
}

.line-item:not(:first-of-type)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    right: 0;
    height: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-top: 1px solid #dbdbdb;
}

.media-list--after-v .media-item::after, .line-list--after-v .line-item::after, .guide-title--after-v::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #ccc;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -1px;
    -webkit-transform: rotate(45deg) translate(0, -50%);
    -ms-transform: rotate(45deg) translate(0, -50%);
    transform: rotate(45deg) translate(0, -50%);
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Seogoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fcf6d4;
    min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

[hidden],
template {
    display: none;
}

a {
    background: transparent;
    text-decoration: none;
    color: #333;
}

a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    vertical-align: middle;
}

button,
input,
select {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}

optgroup {
    font-weight: bold;
}

input,
select,
textarea,
button {
    outline: 0;
}

textarea,
input {
    -webkit-user-modify: read-write-plaintext-only;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

.placeholder {
    color: #999;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
    margin: 0;
}

ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none outside none;
}

h1, h2, h3 {
    line-height: 2;
    font-weight: normal;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

i {
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fs12 {
    font-size: 12px;
}

.grayc {
    color: #ccc;
}

.gray9 {
    color: #999;
}

.gray6 {
    color: #666;
}

.p10 {
    padding: 10px;
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}

.full-width {
    width: 100%;
}

.pos-s {
    position: static !important;
}

.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.icon-switch {
    height: 30px;
    width: 50px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #ccc;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
}

.icon-switch::before {
    content: "";
    height: 30px;
    width: 50px;
    position: absolute;
    left: -50px;
    background-color: #099FDE;
    border-radius: 15px;
    -webkit-transition: left 0.2s ease 0s;
    transition: left 0.2s ease 0s;
    z-index: 2;
}

.icon-switch::after {
    content: "";
    height: 26px;
    width: 26px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    left: 2px;
    top: 2px;
    -webkit-transition: left 0.2s ease 0s;
    transition: left 0.2s ease 0s;
    z-index: 3;
}

.icon-switch.active::before {
    left: 0;
}

.icon-switch.active::after {
    left: 22px;
}

.icon-radio, .icon-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    color: #999;
    border: 1px solid currentColor;
    background-color: #fff;
    position: relative;
    top: -1px;
    margin-right: 5px;
    box-sizing: border-box;
}

.active.icon-radio, .active.icon-checkbox {
    color: #007aff;
}

.disabled.icon-radio, .disabled.icon-checkbox {
    color: #dbdbdb;
}

.icon-radio {
    border-radius: 10px;
}

.icon-radio::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: currentColor;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon-checkbox::after {
    content: "";
    height: 4px;
    width: 10px;
    border: 1px solid currentColor;
    border-width: 0 0 2px 2px;
    position: absolute;
    top: 1px;
    left: 3px;
    -webkit-transform: rotate(-52deg);
    -ms-transform: rotate(-52deg);
    transform: rotate(-52deg);
}

.icon-checkbox::before {
    content: "";
    width: 5px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}

.icon-v-right {
    position: relative;
}

.icon-v-right::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    box-sizing: border-box;
}

.icon-v-left {
    position: relative;
}

.icon-v-left::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 2px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    box-sizing: border-box;
}

.icon-search {
    position: relative;
}

.icon-search::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid currentColor;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: -2px;
    margin-top: -2px;
}

.icon-search::after {
    content: "";
    background: currentColor;
    height: 6px;
    width: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 4px;
    margin-top: 4px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.icon-cross {
    position: relative;
}

.icon-cross::before, .icon-cross::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 14px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: currentColor;
}

.icon-cross::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.icon-dots {
    position: relative;
}

.icon-dots::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
}

.icon-plus {
    position: relative;
}

.icon-plus::before, .icon-plus::after {
    content: "";
    width: 16px;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.icon-plus::after {
    width: 2px;
    height: 16px;
}

.icon-right {
    position: relative;
}

.icon-right::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 8px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
    -webkit-transform: translate(-50%, -50%) rotate(-52deg);
    -ms-transform: translate(-50%, -50%) rotate(-52deg);
    transform: translate(-50%, -50%) rotate(-52deg);
    box-sizing: border-box;
    margin-top: -1px;
}

.icon-alert, .icon-info, .icon-question, .icon-ok {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid currentColor;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
}

.icon-alert {
    color: #ff3b30;
}

.icon-alert::after {
    content: "!";
}

.icon-info {
    color: #007aff;
}

.icon-info::after {
    content: "i";
}

.icon-question {
    color: #007aff;
}

.icon-question::after {
    content: "?";
}

.icon-ok {
    color: #4cd964;
}

.icon-ok::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 2px;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    -webkit-transform: translate(-50%, -50%) rotate(-52deg) scale(1.5);
    -ms-transform: translate(-50%, -50%) rotate(-52deg) scale(1.5);
    transform: translate(-50%, -50%) rotate(-52deg) scale(1.5);
    margin-top: -1px;
}

.icon-svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.icon-loading {
    -webkit-animation: loadingRotate 1s linear infinite;
    animation: loadingRotate 1s linear infinite;
}

@-webkit-keyframes loadingRotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loadingRotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.media-item {
    width: 100%;
    padding: 10px;
    position: relative;
    display: block;
    padding-left: 80px;
    min-height: 80px;
}

.media-item:not(:first-of-type)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    right: 0;
    height: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-top: 1px solid #dbdbdb;
    left: 10px;
}

.media-item:active, .media-item:hover {
    background: #f5f5f5;
}

.media-item .item-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
}

.media-item .item-bd .bd-tt {
    font-weight: normal;
}

.media-item .item-bd .bd-txt {
    font-size: 12px;
    color: #999;
}

.media-list {
    background: #fff;
}

.media-list--after-v .media-item {
    padding-right: 30px;
}

.media-list--right .media-item {
    padding-right: 70px;
}

.media-list--right .media-item .item-right {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

.nav-list .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 1%;
}

.nav-list--bottom {
    background-color: #333;
    height: 48px;
    text-align: center;
    color: #999;
    font-size: 12px;
}

.nav-list--bottom li {
    padding-top: 27px;
    position: relative;
    cursor: pointer;
}

.nav-list--bottom li.active {
    color: #fff;
}

.nav-list--bottom .item-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -10px;
}

.nav-list--bottom .remind-circle,
.nav-list--bottom .remind-num {
    top: 3px;
    left: 50%;
    margin-left: 8px;
}

.nav-list--tab {
    line-height: 34px;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.nav-list--tab .nav-item {
    position: relative;
    color: #333;
}

.nav-list--tab .nav-item.active {
    color: #007aff;
}

.nav-list--tab .nav-item.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #007aff;
}

.nav-list--btn {
    line-height: 32px;
}

.nav-list--btn .nav-item {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-left-width: 0;
}

.nav-list--btn .nav-item:first-of-type {
    border-left-width: 1px;
    border-radius: 16px 0 0 16px;
}

.nav-list--btn .nav-item:last-of-type {
    border-radius: 0 16px 16px 0;
}

.nav-list--btn .nav-item.active {
    background: #007aff;
    color: #fff;
    border-color: #007aff;
}

.line-list {
    background: #fff;
}

.line-list + .line-list {
    margin-top: 10px;
}

.line-list--center {
    text-align: center;
}

.line-list--indent .line-item::before {
    left: 10px;
}

.line-list--after-v .line-item {
    padding-right: 30px;
}

.line-list--flex .line-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0;
}

.line-list--flex .line-item .item-icon,
.line-list--flex .line-item .item-img,
.line-list--flex .line-item .icon-switch,
.line-list--flex .line-item .remind-num,
.line-list--flex .line-item .item-append {
    margin-right: 10px;
}

.line-list--flex .line-item .item-tt,
.line-list--flex .line-item .item-bd {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
    width: 1%;
}

.line-list--flex .line-item .bd-tt {
    line-height: 1.3;
    font-size: 16px;
    margin-bottom: 4px;
}

.line-list--flex .line-item .bd-txt {
    line-height: 1.5;
    color: #999;
    font-size: 12px;
}

.line-list--flex .line-item .item-append {
    color: #999;
}

.line-list--flex .line-item .icon-v-right {
    width: 30px;
    height: 30px;
    color: #ccc;
    margin-left: -10px;
}

.line-list--flex .line-item .remind-num {
    position: static;
    line-height: 1.5;
}

.line-list--select .line-item {
    padding-right: 30px;
}

.line-list--select .line-item.active {
    color: #007aff;
}

.line-list--select .line-item.active::after {
    content: "";
    display: block;
    width: 14px;
    height: 8px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
    -webkit-transform: rotate(-52deg) translate(0, -50%);
    -ms-transform: rotate(-52deg) translate(0, -50%);
    transform: rotate(-52deg) translate(0, -50%);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -4px;
}

.line-list--multi-select .active {
    color: #007aff;
}

.line-list--multi-select .active .icon-checkbox {
    color: #007aff;
}

.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4000;
}

.active .overlay, .overlay.active {
    display: block;
}

.overlay.overlay--no-header {
    top: 44px;
}

.overlay.overlay--transparent {
    background: transparent;
}

.dialog-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 4000;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dialog-wrap.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dialog {
    position: relative;
    width: 280px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    z-index: 4005;
}

.dialog .dialog-bd {
    padding: 20px 10px;
    text-align: center;
}

.dialog .dialog-bd .bd-tt {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 10px;
}

.dialog .dialog-bd .bd-txt.txt--left {
    text-align: left;
}

.dialog .dialog-ft {
    overflow: hidden;
    text-align: center;
    line-height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dialog .dialog-ft .ft-btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 1%;
}

.dialog .dialog-ft button {
    line-height: normal;
    height: 44px;
    border: none;
    background: transparent;
}

.dialog .dialog-ft .ft-btn {
    position: relative;
}

.dialog .dialog-ft .ft-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    right: 0;
    height: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-top: 1px solid #dbdbdb;
}

.dialog .dialog-ft .ft-btn:nth-of-type(1)::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 0;
    bottom: 0;
    -webkit-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-left: 1px solid #dbdbdb;
    left: auto;
    right: 0;
}

.dialog .dialog-ft .ft-btn:first-of-type {
    border-bottom-left-radius: 5px;
}

.dialog .dialog-ft .ft-btn:last-of-type {
    border-bottom-right-radius: 5px;
}

.dialog .dialog-ft .ft-btn:hover, .dialog .dialog-ft .ft-btn:active {
    background: #f5f5f5;
}

.dialog .dialog-ft.ft--full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dialog .dialog-ft.ft--full .ft-btn {
    width: 100%;
    border-left: none;
}

.dialog .dialog-ft.ft--full .ft-btn:first-of-type::after {
    display: none;
}

.dialog .dialog-ft.ft--full .ft-btn:first-of-type {
    border-bottom-left-radius: 0;
}

.dialog .dialog-ft.ft--full .ft-btn:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.guide-title {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    background: #fff;
}

.media-item--custom-my,
.media-item--custom {
    margin-bottom: 10px;
}

.media-item--custom-my .item-img,
.media-item--custom .item-img {
    border-radius: 30px;
}

.media-item--custom-my .bd-tt,
.media-item--custom .bd-tt {
    line-height: 60px;
    font-size: 18px;
}

.media-item--custom-my .media-item {
    padding-left: 20px;
}

.media-item--custom-my .media-item .item-img {
    right: 40px;
    left: auto;
}

.nav-list--custom {
    height: 40px;
}

.nav-list--custom li {
    padding-top: 0px;
    line-height: 40px;
    font-size: 14px;
}

.card-list--custom {
    text-align: center;
    padding: 50px 0px 50px;
    margin-bottom: 40px;
    color: #999;
    line-height: 30px;
}

.icon-lotus {
    background: url("../images/icon-lotus.png") no-repeat center center;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}

.guide-title {
    position: relative;
    padding-left: 30px;
}

.guide-title .icon-lotus {
    position: absolute;
    top: 10px;
    left: 5px;
    margin: 0px;
}

.guide-title--after-v {
    padding-right: 30px;
}

.line-list--table {
    margin-bottom: 10px;
}

.line-list--table .line-item--th .item-tt {
    color: #999;
}

.line-list--table .item-append {
    width: 20%;
    text-align: center;
}

.line-list--table .item-tt {
    text-align: center;
}

.money {
    color: red;
}

.nav-item.disable {
    color: #999;
}

.icon-info {
    background: #ffac00;
    color: #ffac00;
    margin-right: 5px;
}

.icon-info::after {
    content: '';
}

.icon-info--yellow {
    background: #fff677;
    color: #fff677;
}

.dialog .bd-tt {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: left;
}

.dialog .f-text {
    width: 100%;
}
