<header class='demos-header'>
    <h1 class="demos-title">日行一善</h1>
</header>

<div class="weui_cells weui_cells_form">
    <div class="weui_cell weui_cell_warn">
        <div class="weui_cell_hd"><label class="weui_label">金额（元）：</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id='txtAmount' class="weui_input" type="number" value="5">
            <input id="txtOpenid" value="" type="hidden"/>
        </div>

        <div class="weui_btn_area">
            <a class="weui_btn weui_btn_primary" href="javascript:" id="show-confirm">行动</a>
        </div>
    </div>
</div>

<script>
    $(function () {
        FastClick.attach(document.body);
    });

    $("#show-confirm").click(function () {
        var amount = $('#txtAmount').val();
        if (amount == '') {
            $.toptip('请填写金额。');
            return;
        }
        var url = window.location.href;
        $.post(url, {amount: amount})
                .done(function (data) {
                    window.location = data.payURL;
                });
    });
</script>