<!DOCTYPE html>
<html lang="en">
<head>
    <title>imgploadr.io</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="panel-heading">
    <div class="container">
        <div class="col-md-6">
            <h1><a href="/">imgproldr.io</a></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            {{{ body }}}
        </div>
        <div class="col-sm-4">
            {{>stats this }}
            {{>popular this }}
            {{>comments this }}
        </div>
    </div>
</div>
<div style="border-top: solid 1px #eee; padding-top: lem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">imgploadr.io | &copy; Copyright 2014 All right reserved</p>
                <p class="text-center">
                    <i class="fa fa-twitter-square fa-2x text-primary"></i>
                    <i class="fa fa-facebook-square fa-2x text-primary"></i>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/scripts.js"></script>
</body>
</html>
