<!DOCTYPE html>
<html>
<head>
    <title>静音寺文殊禅林</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="/public/css/weui/weui.min.css">
    <link rel="stylesheet" href="/public/css/jquery-weui/jquery-weui.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.2/css/jquery-weui.min.css">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/0.8.2/js/jquery-weui.min.js"></script>
    <script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
</head>

<body ontouchstart style="background-color: #ebebeb">
{{{ body }}}
</body>
</html>
