<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
<div align="center" class="banner"><img src="{{part.img}}"></div>
<div class="contentt">
    <div class="text1">
        <span id="subject" hidden>{{part.id}}</span>
        <span class="a1">金额:</span>
        <span class="a3">元</span>
        <input id="input_amount" type="text" class="a2" placeholder="请点击输入数字">
    </div>
    <div class="text1">
        <span class="a1">回向:</span>
        <input type="text" class="a2 a4" placeholder="以此功德,回向六道众生.">
        <textarea id="input_target" class="a5" style="height: 320px; display: none;"></textarea>
    </div>
    <a id="show-confirm" href="#">确定</a>
</div>
{{>scrollarea}}
{{>aboutmanjusri}}
{{>footnav}}
<script type="text/javascript">
    $("#show-confirm").click(function () {
        var amount = $('#input_amount').val();
        var giving = $('#input_target').val();
        if (amount == '') {
            $.toptip('请填写金额。');
            return;
        }

        var dataToPost = {
            subject: $('#subject').text(),
            amount: amount * 1
        };
        if (giving) dataToPost.giving = giving;

        alert(JSON.stringify(dataToPost));
        requestDoTansaction(dataToPost);
    });

    $(function () {
        $('#scrollBody').liMarquee({
            direction: 'up'
        });
    });
</script>
</body>
</html>

