<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
<div align="center" class="banner"><img src="{{part.img}}" width="794" height="793"></div>
<div class="contentt">
    <div class="text1">
        <span id="subject" hidden>{{part.id}}</span>
        <span class="a1">金额:</span>
        <span class="a3">元</span>
        <input id="input_amount" type="text" class="a2" placeholder="请点击输入数字" style="text-align: center;">
    </div>

    <!--moneySelector-->
    <div align="center">
    <table id="moneySelector" class="moneySelector" target="input_amount" align="center">
        <tr>
            <td amount="1" onclick="selectMoney(this);" onmouseover="moneyItemOver(this)" onmouseout="moneyItemOut(this);">
                <span>1</span>元
            </td>
            <td amount="3" onclick="selectMoney(this);" onmouseover="moneyItemOver(this)" onmouseout="moneyItemOut(this);">
                <span>3</span>元
            </td>
            <td amount="5" onclick="selectMoney(this);" onmouseover="moneyItemOver(this)" onmouseout="moneyItemOut(this);">
                <span>5</span>元
            </td>
        </tr>
        <tr>
            <td amount="10" onclick="selectMoney(this);" onmouseover="moneyItemOver(this)" onmouseout="moneyItemOut(this);">
                <span>10</span>元
            </td>
            <td amount="88" onclick="selectMoney(this);" onmouseover="moneyItemOver(this)" onmouseout="moneyItemOut(this);">
                <span>88</span>元
            </td>
            <td amount="99" onclick="selectMoney(this);" onmouseover="moneyItemOver(this)" onmouseout="moneyItemOut(this);">
                <span>99</span>元
            </td>
        </tr>
    </table>
    </div>
    <script type="text/javascript">
        function selectMoney(item) {
            var targetId = document.getElementById("moneySelector").getAttribute("target");
            document.getElementById(targetId).value = item.getAttribute('amount');
            //alert('您选择了' + item.getAttribute('amount') + '元');
        }

        function moneyItemOver(item) {
            item.setAttribute('class', 'moneyItemOver');
        }

        function moneyItemOut(item) {
            item.setAttribute('class', 'moneyItemOut');
        }
    </script>
    <!--moneySelector-->

    <div class="text1">
        <span class="a1">回向:</span>
        <input type="text" class="a2 a4" placeholder="以此功德,回向六道众生.">
        <textarea id="input_target" class="a5" style="height: 320px; display: none;"></textarea>
    </div>
    <a id="show-confirm" href="#">确定</a>
</div>
{{>scrollarea}}
{{>aboutmanjusri}}
{{>footnav}}
<script type="text/javascript">
    $("#show-confirm").click(function () {
        var amount = $('#input_amount').val();
        var giving = $('#input_target').val();
        if (amount == '') {
            $.toptip('请填写金额。');
            return;
        }

        amount = Math.round(amount * 100) / 100;
        var dataToPost = {
            subject: $('#subject').text(),
            amount: amount
        };
        if (giving) dataToPost.giving = giving;

        requestDoTansaction(dataToPost);
    });

    $(function () {
        $('#scrollBody').liMarquee({
            direction: 'up'
        });
    });
</script>
</body>
</html>

