<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1242, user-scalable=no"/>
    <title>首页</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/js.js"></script>
</head>
<body>
<div class="banner"><img src="/images/banner.jpg"></div>
{{>aboutmanjusri}}
{{>scrollarea}}
{{>copyright}}
{{>weixinfoot}}
<script>
    var speed=10;
    demo2.innerHTML=demo1.innerHTML;
    function Marquee(){
        if(demo2.offsetTop-demo.scrollTop<=0)
            demo.scrollTop-=demo1.offsetHeight;
        else{
            demo.scrollTop++
        }
    }
    var MyMar=setInterval(Marquee,speed);
</script>
</body>
</html>