<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1242, user-scalable=no"/>
    <title>建寺</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/js.js"></script>
</head>
<body>
<!--{{>banner}}
{{>aboutmanjusri}}-->
<div class="list">
    <div class="list_t"><a href="/jingyin/manjusri/suixi">随喜所有建寺功德</a><span>>></span></div>
    <ul class="list_p">
        <li><a href="/jingyin/manjusri/dailyVirtue">
            <img src="/images/product1.jpg">
            <div class="text1">日行一善</div>
        </a></li>
        <li style="border-right: none;"><a href="#">
            <img src="/images/product2.jpg">
            <div class="text1">万尊文殊菩萨像（小）</div>
            <div class="text2">【已捐0份，剩余1000份】</div>
            <div class="text3">¥<span>1980.00</span> /尊</div>
        </a></li>
        <li><a href="#">
            <img src="/images/product3.jpg">
            <div class="text1">万尊文殊菩萨像（中）</div>
            <div class="text2">【已捐0份，剩余1000份】</div>
            <div class="text3">¥<span>1980.00</span> /尊</div>
        </a></li>
        <li style="border-right: none;"><a href="#">
            <img src="/images/product4.jpg">
            <div class="text1">五方文殊菩萨像</div>
            <div class="text2">【已捐0份，剩余1000份】</div>
            <div class="text3">¥<span>1980.00</span> /尊</div>
        </a></li>
    </ul>
</div>
<div class="cardinfo">
    <p class="cardinfo_t1">静 音 寺 护 持 账 号</p>
    <p class="cardinfo_t2">SUPPORT BANK ACCOUNT</p>
    <p class="cardinfo_t3">您同时可以通过银行电汇的形式护持静<br>音寺的建设，请务必在备注信息处填写<br>护持种类及护持金额。随喜！</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">护 持 账 号</p>
    <p class="cardinfo_num">6228  4616  6000  0781  611</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">护 持 账 户 名</p>
    <p class="cardinfo_name">魏将帅</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">护持账户开户行</p>
    <p class="cardinfo_name">中国农业银行五台县支行五台山分理处</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">支付宝账号</p>
    <p class="cardinfo_name"><span>18235175556</span>魏将帅</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">联系方式</p>
    <p class="cardinfo_name"><span>15110555539</span>释同尚</p>
</div>
{{>copyright}}
{{>footnav}}
</body>
</html>