<!DOCTYPE >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>功德主</title>
    <style type="text/css">
        body {
            margin: 0;
            background-color: #fdf6d5;
        }

        img {
            border: none;
            display: inline;
        }

        .myProfile {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 3px;
            background-color: #FFF;
            overflow: hidden;
        }

        .myProfile .icon {
            float: left;
            width: 150px;
            line-height: 260px;
            margin-left: 4%;
            background-image: url({{lord.img}});
            background-repeat: no-repeat;
            background-position: center;
        }

        .myProfile .content {
            margin-left: 25%;
            vertical-align: middle;
            height: 260px;
            overflow: hidden;
        }

        .myProfile .content .nickName {
            margin-top: 60px;
            vertical-align: middle;
            font-size: 42px;
        }

        .myAccuvirtueSummaryTitle {
            width: 100%;
            margin-top: 3px;
            margin-bottom: 5px;
            padding-left: 15px;
            background-color: #FFF;
            overflow: hidden;
            font-size: 38px;
        }

        .myAccuvirtueSummaryToday {
            width: 100%;
            margin-top: 3px;
            margin-bottom: 5px;
            padding-left: 15px;
            background-color: #FFF;
            overflow: hidden;
            font-size: 24px;
        }

        .myAccuvirtueSummaryMonth {
            width: 100%;
            margin-top: 3px;
            margin-bottom: 5px;
            padding-left: 15px;
            background-color: #FFF;
            overflow: hidden;
            font-size: 24px;
        }

        .myAccuvirtueSummaryTotal {
            width: 100%;
            margin-top: 3px;
            margin-bottom: 5px;
            padding-left: 15px;
            background-color: #FFF;
            overflow: hidden;
            font-size: 24px;
        }

        .myAccuvirtueDetail {
            width: 100%;
            margin-top: 3px;
            margin-top: 5px;
            padding-left: 15px;
            background-color: #FFF;
            overflow: hidden;
            font-size: 24px;
        }

        .myAccuvirtueDetail .title {
            font-size: 38px;
        }

        .myAccuvirtueDetail .items{
        }

        .myAccuvirtueDetail .items li{
            margin-left: 5%;
        }

        .myAccuvirtueDetail .items li .subject{
        }

        .myAccuvirtueDetail .items li .date{
        }

        .myAccuvirtueDetail .items li .amount{
        }
    </style>
</head>

<body>

<div class="myProfile">
    <div class="icon">&nbsp;</div>
    <div class="content">
        <div class="nickName"><a href="myProfile.html">{{lord.name}}</a></div>
    </div>
</div>

<div class="myAccuvirtueSummaryTitle">随喜情况</div>
<div class="myAccuvirtueSummaryToday">今天<span class="times">次数:1</span><span class="amount">金额:￥1</span></div>
<div class="myAccuvirtueSummaryMonth">本月<span class="times">次数:30</span><span class="amount">金额:￥30</span></div>
<div class="myAccuvirtueSummaryTotal">累计<span class="times">次数:1000</span><span class="amount">金额:￥1000</span></div>

<div class="myAccuvirtueDetail">
    <div class="title">您的随喜明细</div>
    <ul class="items">
        {{#each virtues}}
            <li>
                <span class="subject">日行一善</span>
                <span class="date">{{dateMMDD timestamp}}</span>
                <span class="amount">{{amount}}元</span></li>
        {{/each}}
    </ul>
</div>

</body>
</html>