<!DOCTYPE >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>功德主</title>
    <style type="text/css">
        body {
            margin: 0;
            background-color: #fdf6d5;
        }

        img {
            border: none;
            display: inline;
        }

        .myProfile {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 3px;
            background-color: #FFF;
            overflow: hidden;
        }

        .myProfile .icon {
            float: left;
            width: 150px;
            line-height: 260px;
            margin-left: 4%;
            background-image: url("{{lord.img}}");
            background-repeat: no-repeat;
            background-position: center;
        }

        .myProfile .content {
            margin-left: 22%;
            vertical-align: middle;
            height: 260px;
            overflow: hidden;
        }

        .myProfile .content .nickName {
            margin-top: 60px;
            vertical-align: middle;
            font-size: 42px;
        }

        .myProfile .content .summary {
            margin-top: 30px;
            vertical-align: middle;
            font-size: 32px;
        }

        .myAccuvirtue {
            width: 100%;
            margin-top: 3px;
            padding-left: 15px;
            background-color: #FFF;
            font-size: 38px;
            overflow: hidden;
        }

        .myAccuvirtueList  {
            background-color: #FFF;
        }

        .myAccuvirtueList li {
            margin-left: 5%;
            background-color: #FFF;
            font-size: 32px;
        }
    </style>
</head>

<body>

<div class="myProfile">
    <div class="icon">&nbsp;</div>
    <div class="content">
        <div class="nickName"><a href="myProfile.html">{{lord.name}}</a></div>
        <div class="summary">
            您随喜了99次，一共随喜了9900元。
        </div>
    </div>
</div>

<div class="myAccuvirtue">您的随喜明细</div>

<ul class="myAccuvirtueList">
{{#each virtues}}
    <li>￥{{amount}}/{{dateMMDD timestamp}}</li>
{{/each}}
</ul>

</body>
</html>