<!DOCTYPE html>
<html lang="en" style="background: #fdf6d5;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1242, user-scalable=no"/>
    <title>支付成功页</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/js.js"></script>
</head>
<body style="background: #fdf6d5;">
<div class="contenttt">
    <img src="/images/icon2.jpg">
    <div class="sucess_name">操作成功</div>
    <div class="sucess_text">随喜您的功德</div>
    <a href="/jingyin/manjusri/index">确定</a>
</div>
<div class="textttt">
    聚粒沙成宝塔，汇滴水成江海<br>
    您的每一份发心<br>
    皆能融入诸佛菩萨无量的功德海洋！<br>
    愿此吉祥增吉祥，愿此吉祥永吉祥！
</div>

<ul class="nav">
    <li><a href="#">首页</a></li>
    <li class="nav_click">建寺
        <dl>
            <dd><a href="#">日行一善</a></dd>
            <dd><a href="#">随喜</a></dd>
            <dd><a href="#">小文殊像</a></dd>
            <dd><a href="#">中文殊像</a></dd>
            <dd style="border: none;"><a href="#">五方文殊</a></dd>
        </dl>
    </li>
    <li><a href="#">祈福</a></li>
    <li><a href="#">我</a></li>
</ul>
</body>
</html>