<!DOCTYPE html>
<html lang="en" style="background: #fdf6d5;">
{{>head}}
<body style="background: #fdf6d5;">
<div class="content">
    <div class="text1">
        <span id="subject" hidden>{{part.id}}</span>
        <span class="a1">金额:</span>
        <span class="a3">元</span>
        <input id="input_amount" type="number" class="a2" maxlength="10">
    </div>
    <div class="text2">
        <span class="a1">回向:</span>
        <input type="text" class="a2"   placeholder="以此功德，回向六道众生。">
        <textarea id="input_target" class="a3" style="display: none;" placeholder="以此功德，回向六道众生。"></textarea>
    </div>
    <div class="price">￥<span class="price" id="label_amount">0.00</span></div>
</div>
<div class="btn" style="padding-top: 0;">
    <a id="show-confirm" href="#">随 喜</a>
</div>
<div class="textttt">
    文殊师利勇猛智,普贤慧行亦复然,<br>我今回向诸善根,随彼一切常修学。<br>三世诸佛所称叹,如是最胜诸大愿,<br>我今回向诸善根,为得普贤殊胜行。
</div>
{{>footnav}}
<script>
    $("#input_amount").keyup(function () {
        var amount = $("#input_amount").val().trim();
        if (amount == '') {
            amount = "0.00";
        }
        amount = parseFloat(Math.round(amount * 100) / 100).toFixed(2);
        $("#label_amount").text(amount);
    });

    $("#show-confirm").click(function () {
        var amount = $('#input_amount').val();
        var giving = $('#input_target').val();
        if (amount == '') {
            $.toptip('请填写金额。');
            return;
        }
        var dataToPost = {
            subject: $('#subject').text(),
            amount: amount
        };

        if(giving) {
            dataToPost.giving = giving;
        }

        var url = '/jingyin/rest/virtues/prepay';
        $.ajax({
            type: 'POST',
            url:url,
            data: dataToPost,
            success: function(data, textStatus, request){
                var linkages = parseLinksInHeader(request.getResponseHeader('link'));
                window.location = linkages.pay;
                return;
            }
        });
    });
</script>
</body>
</html>