<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
{{>banner}}
{{>aboutmanjusri}}
{{>scrollarea}}
{{>copyright}}
{{>footnav}}
<script>
    var speed=10;
    demo2.innerHTML=demo1.innerHTML;
    function Marquee(){
        if(demo2.offsetTop-demo.scrollTop<=0)
            demo.scrollTop-=demo1.offsetHeight;
        else{
            demo.scrollTop++
        }
    }
    var MyMar=setInterval(Marquee,speed);
</script>
</body>
</html>