<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>



{{>banner}}
{{>aboutmanjusri}}
{{>scrollarea}}
{{>copyright}}
{{>footnav}}
<script>
/*    var speed=10;
    demo2.innerHTML=demo1.innerHTML;
    function Marquee(){
        if(demo2.offsetTop-demo.scrollTop<=0)
            demo.scrollTop-=demo1.offsetHeight;
        else{
            demo.scrollTop++
        }
    }
    var MyMar=setInterval(Marquee,speed);*/

   /* var url = '/jingyin/rest/virtues';
    $.ajax({
        type: 'GET',
        url:url,
        success: function(data, textStatus, request){
            alert(JSON.stringify(data));
            return;
        }
    });*/
</script>
<div class="dowebok">
    <ul>
        <li>
            <a href="http://www.dowebok.com/187.html">Smoothslides – 可平移的jQuery幻灯片插件</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/77.html">jQuery全屏滚动插件fullPage.js</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/131.html">WOW.js – 让页面滚动更有趣</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/139.html">让IE7 IE8支持CSS3 background-size属性</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/117.html">shCircleLoader – jQuery Loading效果插件</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/185.html">jQuery cForm – jQuery表单美化插件</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/177.html">Quttons – Quantum Paper风格按钮</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/173.html">Ideal Image Slider – 简单的纯JS幻灯片</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/156.html">evenZoom – jQuery放大镜插件</a>
        </li>
        <li>
            <a href="http://www.dowebok.com/155.html">DAD – jQuery拖拽/拖放插件</a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        $('.dowebok').liMarquee({
            direction: 'up'
        });
    });
</script>
</body>
</html>