<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
{{>banner}}
{{>aboutmanjusri}}
{{>scrollarea}}
{{>copyright}}
{{>footnav}}

<script type="text/javascript">
    $(function () {
        $('.scroll').liMarquee({
            direction: 'up'
        });
    });
</script>
</body>
</html>