<!DOCTYPE html>
<html>
<head>
    <title>静音寺文殊禅林</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="JingYin Manjusri temple">

    <link rel="stylesheet" href="/css/weui/weui.min.css">
    <link rel="stylesheet" href="/css/jquery-weui/jquery-weui.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.2/css/jquery-weui.min.css">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/0.8.2/js/jquery-weui.min.js"></script>
    <script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
</head>

<body ontouchstart style="background-color: #ebebeb">
<div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
    <div class="swiper-wrapper">
        <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination'
             data-autoplay="1000">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="width:100%">
                    <img src="/img/banner.jpg" alt="" height="180" style="width:100%">
                    <h2 class="gallerytitle"></h2>
                </div>
                <div class="swiper-slide">
                    <img src="/img/5775c2d0e2a4f.jpg" alt="">
                    <h2 class="gallerytitle"></h2>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<div class="weui_grids" style="font-weight: bold;background-color:#ffffff;margin:10px 15px">
    <a href="/jingyin/manjusri/accuvirtue" class="weui_grid js_grid">
        <div class="weui_grid_icon" style="width:50px;height:50px;">
            <img src="/img/01baosan50.png" alt="">
        </div>
        <p class="weui_grid_label" style="color:#670909;">
            日行一善
        </p>
    </a>
    <a href="cell.html" class="weui_grid js_grid">
        <div class="weui_grid_icon" style="width:50px;height:50px;">
            <img src="/img/02baopin50.png" alt="">
        </div>
        <p class="weui_grid_label" style="color:#670909;">
            认捐
        </p>
    </a>
    <a href="form.html" class="weui_grid js_grid">
        <div class="weui_grid_icon" style="width:50px;height:50px;">
            <img src="/img/03baoyu50.png" alt="">
        </div>
        <p class="weui_grid_label" style="color:#670909;">
            捐助
        </p>
    </a>
</div>

<div class="weui_grids"
     style="height: 60px;line-height: 60px;color:#670909;font-weight: bold;background-color:#ffffff;margin:10px 15px 10px 15px;font-size:18px;">
    <a>
        <span style="float: left;padding-left: 30px;">功德主</span><span
            style="float: right;padding-right: 30px;">&gt;&gt;</span>
    </a>
</div>
</body>
</html>


