<!DOCTYPE html>
<html lang="en" style="background: #fdf6d5;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1242, user-scalable=no"/>
    <title>支付成功页</title>
    <link rel="stylesheet" href="/css/css.css">
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/js.js"></script>
    {{>sharepage}}
</head>
<body style="background: #fdf6d5;">
<div class="contenttt">
    <img src="/images/icon2.jpg">
    <div class="sucess_name">{{share.subjectname}}捐助成功!</div>
    <div class="sucess_text">{{share.desc}}</div>
    <a href="/jingyin/manjusri/index">确定</a>
</div>
<div class="textttt">
    聚粒沙成宝塔，汇滴水成江海<br>
    您的每一份发心<br>
    皆能融入诸佛菩萨无量的功德海洋！<br>
    愿此吉祥增吉祥，愿此吉祥永吉祥！
</div>
{{>footnav}}
</body>
</html>