<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
<div class="banner"><img src="/images/product_banner1.jpg"></div>
<div class="product">
    <div class="product_name">{{product.name}}</div>
    <div class="product_num">【已捐{{product.sold}}份，剩余{{product.left}}份】</div>
    <div class="product_price">¥<span>{{product.price}}</span> /尊</div>
    <ul>
        <li class="jian">-</li>
        <li class="val">1</li>
        <li class="jia">+</li>
    </ul>
</div>
<div class="btn">
    <a href="#">随 喜</a>
</div>
{{>aboutmanjusri}}
{{>footnav}}
<div class="pop">
    <dl class="pop_content">
        <dt><span>姓名</span><input type="text"></dt>
        <dt><span>电话</span><input type="text"></dt>
        <dt><span>地址</span><input type="text" class="a4"><textarea class="a5" style="display: none; height: 320px;"></textarea></dt>
        <dd><a href="#">确认 </a></dd>
    </dl>
</div>
</body>
</html>