
<ul class="nav">
    <li><a href="/jingyin/manjusri/index">首页</a></li>
    <li><a href="/jingyin/manjusri/jiansi">建寺</a>
        <!--<dl>
            <dd><a href="/jingyin/manjusri/dailyVirtue">日行一善</a></dd>
            <dd><a href="/jingyin/manjusri/suixi">随喜</a></dd>
            <dd><a href="#">小文殊像</a></dd>
            <dd><a href="#">中文殊像</a></dd>
            <dd style="border: none;"><a href="#">五方文殊</a></dd>
        </dl>-->
    </li>
    <li><a href="#">祈福</a></li>
    <!--<li><a href="/html/me.html">我</a></li>-->
    <li><a href="/jingyin/manjusri/lordvirtues">我</a></li>
</ul>