
<ul class="nav">
    <li><a href="#">首页</a></li>
    <li class="nav_click">建寺
        <dl>
            <dd><a href="/jingyin/manjusri/dailyVirtue">日行一善</a></dd>
            <dd><a href="/jingyin/manjusri/suixi">随喜</a></dd>
            <dd><a href="#">小文殊像</a></dd>
            <dd><a href="#">中文殊像</a></dd>
            <dd style="border: none;"><a href="#">五方文殊</a></dd>
        </dl>
    </li>
    <li><a href="#">祈福</a></li>
    <li><a href="#">我</a></li>
</ul>