<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1242, user-scalable=no"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/liMarquee.css">
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/js.js"></script>
    <script src="/js/jquery.liMarquee.js"></script>
    <style>
        .dowebok {
            width: 790px;
            height: 200px;
            margin: 100px auto;
            font-size: 14px;
        }

        .dowebok ul {
            margin: 0;
            line-height: 30px;
        }

        .dowebok a {
            color: #333;
            text-decoration: none;
        }

        .dowebok a:hover {
            text-decoration: underline;
        }
    </style>
</head>
