<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>建寺</title>
    <link href="/assets/css/reset.css" rel="stylesheet" >
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/buildGodHouse.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/jw.css">
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>
    <div class="wrapper container-fluid">
        <div class="row firwrap mt0">
            <figure>
                <img src="/images/jiansi.jpg" alt="">
            </figure>
        </div>
        <!--<div class="row twowrap">
            <h3>建寺功德</h3>
            <span>CONTRIBUTION TO TAMPLE BUILDING</span>
            <p>佛说：“供养佛殿和文字等同于供养我的真身，功德永远不会耗尽”。</p>
            <p>若人发心起塔、建寺、造像，如是诸人等，如见无数佛，自成无上道，广度无数众。三宝门中福好求，一文种下万文收。一沙一石都承载着佛法的事业，没一份发心都融入佛陀的功德海洋。</p>
            <figure>
                <img src="/assets/images/d.png" alt="">
            </figure>
        </div>-->
        <ul class="row threewrap">
            <li onclick="linkto('{{daily}}');">
                <div class="col-xs-3 threewrap-left">
                    <figure>
                        <img src="/uploads/userd.png" alt="">
                    </figure>
                </div>
                <div class="col-xs-8 threewrap-center">
                    <h4>日行一善</h4>
                    <p>日行一善，善福增长</p>
                </div>
                <div class="col-xs-1 threewrap-right">
                    <span>></span>
                </div>
            </li>
            <li onclick="linkto('{{suixi}}');">
                <div class="col-xs-3 threewrap-left">
                    <figure>
                        <img src="/uploads/userc.png" alt="">
                    </figure>
                </div>
                <div class="col-xs-8 threewrap-center">
                    <h4>随喜建寺</h4>
                    <p>随喜建寺</p>
                </div>
                <div class="col-xs-1 threewrap-right">
                    <span>></span>
                </div>
            </li>
        </ul>
        <div class="row fourwrap">
            <h3>静音寺护持账号</h3>
            <span>SUPPORT BANK ACCOUNT</span>
            <p>您同时可以通过银行电汇的形式护持静音寺的建设，请务必在备注信息出填写护持种类及护持金额，随喜</p>
            <ul class="fourwrap-account">    
                <li>    
                    <figure>
                        <img src="/assets/images/icon9.png" alt="">
                    </figure>
                    <h4>护持账号</h4>
                    <h5>6228 4616 6000 0781 611</h5>
                </li>
                <li>    
                    <figure>
                        <img src="/assets/images/icon10.png" alt="">
                    </figure>
                    <h4>护持账号名</h4>
                    <h5>魏将帅</h5>
                </li>
                <li>    
                    <figure>
                        <img src="/assets/images/icon11.png" alt="">
                    </figure>
                    <h4>护持账号开户行</h4>
                    <h5>中国农业银行五台山县支行五台山分理处</h5>
                </li>
                <li>    
                    <figure>
                        <img src="/assets/images/icon12.png" alt="">
                    </figure>
                    <h4>支付宝账号</h4>
                    <h5>18235175556 <span>魏将帅</span></h5>
                </li>
                <li>    
                    <figure>
                        <img src="/assets/images/icon13.png" alt="">
                    </figure>
                    <h4>联系方式</h4>
                    <h5>15110555539 <span>释同尚</span></h5>
                </li>

            </ul>
        </div>

        <!-- 页脚 -->
        <footer>
            <figure>
                <img src="/assets/images/logo.png" alt="">
            </figure>
            <div class="copyright">
                Copyright @2016 The Jin Yin Temple
            </div>
        </footer>
        {{>footmenu}}
    </div>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function linkto(link) {
            window.location = link;
        }
    </script>
</body>
</html>