<div class="public">
    <div class="about">
        <div class="about_t1">文 殊 禅 林</div>
        <div class="about_t2">SUPPORT  JINYIN  TEMPLE</div>
        <div class="about_p">五台山静音寺以“效仿古贤，秉承宗风，实修实证，培养僧才，传承正法”为宗旨，建立四众繁荣的文殊禅林。以佛学院为核心建立国学院、安养院、生态田园、塔林等，使少有所学、长有所成、老有所依、故有所安的人间净土！</div>
        <div class="about_z"><img src="/images/zhang.jpg"></div>
    </div>
</div>
