
<ul class="nav">
    <li><a href="/jingyin/manjusri/index">首页</a></li>
    <li><a href="/jingyin/manjusri/jiansi">建寺</a></li>
    <!--<li><a href="/jingyin/manjusri/new/index">祈福</a></li>-->
    <li><a href="/jingyin/manjusri/new/index"></a></li>
    <li><a href="/jingyin/manjusri/lordvirtues">我</a></li>
</ul>